* {
    margin:0;
    padding:0;
}

:root {
    --primary-color: pink;
    --secondary-color: #777777;
    --tertiary-color: rgb(49, 52, 61);
}

body {
    background-color: #b1b1b1;
}
/* Webpage Header Styles*/
header{
    padding: 30px;
    padding-left: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    margin:0px;
}

header h1{
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    padding-left:80px;
    padding-right: 20px;
    margin:0px;
    font-size: 4vw;
    display: flex;
}

header nav {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    margin:0px;
    background-color: var(--secondary-color)
}

header nav ul {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    margin:0px;
    background-color: var(--secondary-color)
}

header nav ul li a {
    color:var(--primary-color);
    padding: 2px ;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
    text-decoration: none;
    margin:0px;
    border-bottom: 3px solid var(--primary-color);
    margin: 15px 15px;
    background-color: var(--secondary-color)
}

header nav ul li a:hover {
    color:var(--tertiary-color);
    border-color:var(--tertiary-color)
}
 
/* hero style */
.hero {
    background-image: url(../images/herobg.JPG);
    background-size: cover;
    min-height: 200px;
}

.hero h2{
    font-size: 40px;
    padding: 0px 40px;
    display: inline-block;
    float: right;
    text-align: center;
    background-color: var(--primary-color);
    color: rgb(49, 52, 61);
    margin-top: 150px;
    font-weight: bold;
}

/* main-grid structure */
.main-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 20% 75%;
    margin: 10px;
    border: 20px;
}

.work-cards {
    display: grid;
    gap: .5em;
    grid-template-columns: 50% 50%;
}

/* grid h2 headers style */
.section-title {
    display: flex;
    justify-content: right;
    border-right: black solid 4px;
    color:var(--tertiary-color);
    text-shadow: rgba(0, 0, 0, 0.55);
    padding: 15px;
    font-size: 30px;
    text-align: right;
}
/* About Me Paragraph Style */
.about-me-text {
    font-size: 20px;
    color: var(--tertiary-color);
    padding: 5px;
    margin:5px 0;   
}
/* Work Card Styles */
.work-cards a{
    border: 3px solid black; 
    border-radius: 10px;
    background-size: cover;
    display: inline-block;
    height: 200px;
    position: relative;
}
.work-cards a{
    border: 3px solid black; 
    border-radius: 10px;
    background-size: cover;
    display: inline-block;
    height: 200px;
    position: relative;
}

.work-cards a:hover{
    border: 5px solid rgb(141, 0, 0); 
    border-radius: 10px;
}

.work-cards a h3 {
    position: absolute;
    display: block;
    font-size: 16px;
    font-style:lighter;
    background-color:var(--secondary-color);
    color: var(--primary-color);
    width: fit-content;
    top: 150px;
    padding:3px;
    padding-left: 30px;
}

#project-1-h3 {
    position: absolute;
    display: block;
    font-size: 16px;
    font-style:lighter;
    background-color:var(--secondary-color);
    color: var(--primary-color);
    width: fit-content;
    top: 350px;
    padding:3px;
    padding-left: 30px;
}

#project-1 {
    background-image: url(../images/Project-1-runbuddy.png);
    height: 400px;
}
#project-2 {
    background-image: url(../images/Project-2-Horiseon.png);
}
#project-3 {
    background-image: url(../images/Project-3.jpeg);
}
#project-4 {
    background-image: url(../images/Project-4.jpeg);
}
#project-5 {
    background-image: url(../images/Project-5.jpeg);
}

.work-cards a h3 span {
    font-style: italic;
    padding-left:5px;
}

/* Contact info Style */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    border: 3px solid black ;
    border-radius: 5px;
}

.contact-info a {
    text-decoration:none;
    background-color:#b1b1b1;
    color: var(--tertiary-color);
    font-size: 20px;
    padding:5px;
    border: 3px solid black ;
    border-radius: 5px;
}

.contact-info a:hover {
    background-color:#070707;
    color: var(--primary-color);
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

footer a {
    text-decoration: none;
    font-style: bold;
    border: 2px solid black;
    border-radius: 5px;
    color: var(--tertiary-color);
    padding: 3px;
}

footer a:hover {
    background-color:#070707;
    color: var(--primary-color);
}

/* Utility classes */
.grid-col-span-2 {
    grid-column: span 2;
}

.grid-row-span-2 {
    grid-row: span 2;
}

/* For Tablets and large phones */
@media screen and (max-width:810px) {
header nav ul li {
    padding: 10px
}
}



/* For smaller screen sizes (smart phones) */
@media screen and (max-width:650px) {
    .main-grid { 
        display: block;}
    .section-title {
        display: block;
        text-align: center;
        border: none;
        border-bottom: 2px solid black;
        margin: 5px;
    }
    .hero h2 {
        font-size: 18px;
    }
}

/* For smaller screen 450px sizes ) */
@media screen and (max-width:450px) {
    header {
        display: block;
        margin:0;
        padding: 0;
        border: none;
    }
    header nav ul li {
        display: block;
        width:100px;
        
    }

    header h1{
        padding-left:20px;
        padding-right: 20px;
        margin:0px;
        font-size: 3vw;
        display: block;
        text-align: center;
    }
    .hero h2 {
        font-size: 12px;
        padding: none;
    }
}
